.container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}
.container0 {
  border: 2px solid black;
  width: 80%;
  height: 200px;
  margin: 20px auto;
}
.box {
  min-width: 50px;
  min-height: 200px;
}
.green { background: rgb(4, 92, 4); }

body {
    background-color: #ccffcc;
}
.fit-picture {
    width: 150px;
    height: 150px;
    object-fit: cover; 
}
.fit-picture1 {
    width: 225px;
    height: 150px;
    object-fit: cover; 
}
.fit-picture{
    margin-right: 1px;
}
.fit-picture1 {
    margin-right: 10px;
}
