container {
    flex-direction: row
}
body {
    background-color: #ccffcc;
}
.fit-picture {
    width: 150px;
    height: 150px;
    object-fit: cover; /* évite la déformation */
}
.fit-picture1 {
    width: 225px;
    height: 150px;
    object-fit: cover; /* évite la déformation */
}