.container {
  border: 5px solid black;
  width: 98%;
  height: 500px;
  margin: 6px auto;
}
.box {
  min-width: 50px;
  min-height: 50px;
}
.green { background: rgb(18, 111, 18); }

.container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

body {
    background-color: #ccffcc;
}
.fit-picture {
    width: 150px;
    height: 150px;
    object-fit: cover; 
}
.fit-picture1 {
    width: 225px;
    height: 150px;
    object-fit: cover; 
}
.fit-picture{
    margin-right: 1px;
}
.fit-picture1 {
    margin-right: 10px;
}