.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}
body {
    background-color: #ccffcc;
}
.fit-picture {
    width: 150px;
    height: 150px;
    object-fit: cover; 
}
.fit-picture1 {
    width: 225px;
    height: 150px;
    object-fit: cover; 
}
.fit-picture{
    margin-right: 1px;
}
.fit-picture1 {
    margin-right: 10px;
} 



